@import url(ply.css);

body {
    margin-top: 0;
}

#title {
    background-color: #222222;
    color: #DDDDDD;
    width: 100%;
}

#title h1 {
    margin: 0;
    padding: 10px 0;
    line-height: 1.5;
    text-transform: lowercase;
}
